body{
    background-color: lightblue;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:90%;
    height: 85%;
    border: 2px solid black;
    background-color: #FFFFF7;
  }

  .mainButtonContent{
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:90%;
    height: 85%;
  }